<div class="modal-header">
	<h2>Add new Contact</h2>
</div>	
<div class="modal-body">
	<form novalidate name="addNewForm" id="add-new-form" method="post" action="">
		<label for="name">First Name:</label>
		<input type="text" ng-model="contact.name" required />
		<label for="surname">Last Name:</label>
		<input type="text" ng-model="contact.surname" required />
		<label for="address">Address:</label>
		<input type="text" ng-model="contact.address" required />
		<label for="phone">Phone:</label>
		<input type="text" ng-model="contact.phone" />
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-disabled="addNewForm.$invalid || isUnchanged(contact)" 
		id="add-new-btn" ng-click="save(contact)">Save!</button>
	<button class="btn" ng-click="cancel()">Cancel</button>
</div>
